/* Do not remove the comments below. It's the markers used by wiredep to inject sass dependencies when defined in the
bower.json of your dependencies */
// bower:scss
// endbower

body {
  font: normal 16px/150% Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject all your sass files automatically */
// injector
// endinjector
