<div class="main">
  <h1>Todo-Tracker</h1>
  <div class="container">
    <!-- Toggle -->
    <div class="row">
      <div
        class="cell toggle"
        ng-class="{active: vm.isShowOverdue(false)}"
        ng-click="vm.toggle(false)"
      >
        Pending
      </div>
      <div
        class="cell toggle"
        ng-class="{active: vm.isShowOverdue(true)}"
        ng-click="vm.toggle(true)"
      >
        Overdue
      </div>
    </div>

    <!-- Header -->
    <div class="row">
      <div class="cell header">
        Name
      </div>
      <div class="cell header">
        Due Date
      </div>
      <div class="cell header">
        Priority
      </div>
    </div>

    <!-- List of tasks -->
    <div class="row" ng-repeat="task in vm.tasks | filter:{isOverdue: vm.showOverdue}">
      <div class="cell" ng-class="{red: task.isOverdue}">{{ task.name }}</div>
      <div class="cell" ng-class="{red: task.isOverdue}">{{ task.dueDate | date }}</div>
      <div class="cell" ng-class="{red: task.isOverdue}">{{ task.priority }}</div>
    </div>
  </div>
</div>
