@import "../common";

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $cloud;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 20px;
  background-color: white;
  border: 1px solid $gray;
  box-shadow: 2px 2px 10px $gray;
}

.row {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid $gray;
}

.cell {
  color: $black;
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.cell.header {
  font-weight: bold;
}

.cell.red {
  color: $red;
}

.cell.toggle {
  color: $coal;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.active {
    background-color: $cloud;
  }
}
